@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Vazirmatn RD VF';
    src: url('/fonts/Vazirmatn-RD-VF.woff2');
    font-display: swap;
  }

  html {
    @apply scroll-smooth font-sans;
  }

  body {
    @apply min-h-screen bg-gray-50 text-base leading-normal text-gray-700 antialiased dark:bg-gray-950 dark:text-gray-400;
  }

  h1,
  h2,
  h3 {
    @apply font-bold text-gray-950 dark:text-gray-50;
  }

  h1 {
    @apply text-4xl md:text-5xl;
  }

  h2 {
    @apply text-2xl text-gray-900 dark:text-gray-100 md:text-3xl;
  }

  h3 {
    @apply text-lg text-gray-800 dark:text-gray-200;
  }

  *::selection {
    @apply bg-blue-200/75 dark:bg-gray-800/75;
  }
}

@layer components {
  .btn {
    @apply flex w-full items-center justify-center gap-x-2 rounded-lg px-8 py-4 text-sm font-semibold transition-all duration-200 ease-in-out hover:opacity-90;
  }

  .link {
    @apply text-blue-600 transition-all duration-200 ease-out dark:text-blue-500;
  }

  .arrow {
    @apply relative inline-flex items-center after:absolute after:right-full  after:h-3 after:w-3 after:bg-[url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9IiMyNTYzZWIiIGNsYXNzPSJ3LTYgaC02Ij4KICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik0xNS43NSAxOS41TDguMjUgMTJsNy41LTcuNSIgLz4KPC9zdmc+Cg==')] after:bg-no-repeat after:px-2 after:transition-transform after:ease-in-out  after:content-[''] after:hover:-translate-x-1;
  }

  .oppend {
    @apply flex;
  }
}

@layer utilities {
  .rtl {
    direction: rtl;
  }

  .ltr {
    direction: ltr;
  }
}
